@import 'partials/mixin';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/buttons';


html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: $poppins;
    overflow-x: hidden;
}



/*Header styling*/

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background: $sort;
    position: relative;

    ul {
        display: flex;
        padding: 0 50px;
        gap: 70px;

        li {
            list-style: none;
            position: relative;

            a {
                text-decoration: none;
                color: $gul;
                font-weight: 600;
                font-size: 20px;
            }

            .svg-klat {
                position: absolute;
                left: -45px; 
                top: 50%; 
                transform: translateY(-50%); 
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                width: 40px;
                height: 40px;
            }

            &:hover .svg-klat {
                opacity: 1;
            }
        }
    }

    .header-logo {
        position: absolute;
        left: 30px;
        z-index: 10;
        top: 20px;

    }
}

@media only screen and (max-width: 1030px)  {
    header {
        ul {
            display: none;
        }

        .header-logo {
            left: 50%;
            transform: translate(-50%);

            img {
                transform: scale(0.8);
                margin-top: -15px;
            }
        }
    }
}



/*Hero styling */
.hero-section {
    background-color: $sort;
    height: 380px;
    @include flex-center;
    align-items: center;
    gap: 100px;
    padding: 120px 0 20px 0;
    margin-bottom: -2px;

    .hero-vector {
        height: 100%;
        display: flex;
        align-items: flex-end;
        width: 600px;
        position: relative;

        img {
            height: 450px;
            right: 10vw;
            position: absolute;
            bottom: -20px;
            right: 0;
            z-index: 2;
        }
    }

    .hero-content {
        width: 600px;
        color: white;
        display: flex;
        flex-direction: column;

        h1 {
            color: white;
            text-align: left;
            font-size: 50px;
            padding: 0;
        }

        .custom-button {
            z-index: 2;
            background-image: url('img/svg/hero-knap.svg');
            height: 60px;
            width: 320px;

            span {
                padding-top: 15px;
                color: $sort;
            }
        }
    }
}

        /* Mobil hero section */
        @media only screen and (max-width: 1325px)  {
            .hero-section {
                flex-direction: column;
                padding-top: 110px;
                height: 800px;
                
                    .hero-vector {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        position: relative;
                        width: auto;
                        img {
                            left: 50%;
                            transform: translate(-50%);


                        }
                    }
                }
            }

        @media only screen and (max-width: 645px) {
            .hero-section {
                height: 750px;
        
                .hero-vector {
                    height: 300px;
        
                    img {
                        height: 300px;
                        left: 50%;
                        transform: translate(-50%);

                    }
                }

                .hero-content {
                    width: 400px;

                    h1 {
                        font-size: 40px;
                    }
                }

            }
            
        }
        
        @media only screen and (max-width: 460px) {
            .hero-section {
                height: 670px;
        
                .hero-vector {
                    height: 280px;
        
                    img {
                        height: 280px;
                        left: 50%;
                        transform: translate(-50%);

                    }
                }

                .hero-content {
                    width: 300px;
                    @include flex-center;

                    h1 {
                        font-size: 32px;
                    }

                }
        
            }   
        }



/*Intro gul sektion*/
    .intro-section {
        background: $gul;
        @include flex-center;
        position: relative;
        gap: 100px;
        padding: 50px 0;

        > img {
            width: 300px;
            position: absolute;
            left: 20px;
            top: -80px;
            z-index: 0;
        }

        .intro-venstre, .intro-hojre {
            width: 40vw;

            #infografik {
                width: 100%;
            }

            h3 {
                font-weight: 300;
            }

            ul {
                list-style-type: none;
                padding-left: 0;
                
            }

            .liste-fordel {
                display: flex;
                gap: 30px;
                padding-bottom: 20px;

                img {
                    width: 60px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .intro-section {
            flex-direction: column-reverse;
            gap: 20px;

            .intro-venstre, .intro-hojre {
                width: 90vw;
        }
    > img {
        transform: scale(0.5);
        left: -70px;
        top: -60px;
        z-index: 1;
    }
    }
    }

    @media only screen and (max-width: 1000px) {
        .intro-section {
            > img {
                left: -140px;
            }
        }
    }


    /*Services section */
    .services-section {
        background: $graa;
        @include flex-center;
        flex-direction: column;
        gap: 20px;
        padding: 35px 0;
    
        .services-wrapper {
            display: flex;
            gap: 20px;
            padding-top: 60px;

            .services-pair {
                display: flex;
                gap: 20px;
    
                .services-box {
                    height: 350px;
                    width: 250px;
                    border: solid 2px $gul;
                    color: white;
                    font-family: $poppins;
                    font-size: 14px;
    
                    ul {
                        margin: 0;
                        padding: 15px 40px;
    
                        li {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }

        h1 {
            color: $gul;
        }
    }
    

        /* Mobil services box */
        @media only screen and (max-width: 1100px)  {
            .services-wrapper {
                flex-direction: column;

                .services-pair {
                    margin: 0;
    
                    .services-box {
                        margin: 0;
                    }
                }    
            }
        }

        @media only screen and (max-width: 560px)  {
            .services-section {
                padding: 50px 0;
                
                .services-pair {
                    flex-direction: column;

                    .services-box {
                        width: 80vw;
                    }
                }
            }    
        }

    
    /*Feedback section */
    .feedback-section {
        background: $sort;
        padding: 35px 0 150px 0;
        @include flex-center;
        flex-direction: column;
    
        h1 {
            color: $gul;
            padding-top: 20px;
        }
    
        .kunde-box {
            width: 28vw;
            border-radius: 50px;
            background: #FAFFC6;
            position: relative;
            margin-top: 150px;
            padding: 15px;
    
            .kunde-trekant {
                width: 0;
                height: 0;
                border-left: 60px solid transparent;
                border-right: 60px solid transparent;
                border-top: 60px solid #FAFFC6;
                position: absolute;
                bottom: -60px;
                transform: translate(-50%);
                left: 50%;
            }
    
            .gul-cirkel {
                background: $gul;
                width: 120px;
                height: 120px;
                transform: translate(-50%);
                left: 50%;
                position: absolute;
                border-radius: 50%;
                @include flex-center;
                top: -80px;
    
                img {
                    border-radius: 50%;
                    width: 93%;
                    height: 93%;
                }
            }
    
            .kunde-navn {
                text-align: center;
                font-weight: 800;
                position: absolute;
                transform: translate(-50%);
                left: 50%;
                bottom: 20px;
                white-space: nowrap;
            }
    
            .kunde-vurdering {
                position: absolute;
                transform: translate(-50%);
                left: 50%;
                bottom: 0;
            }
    
            .citation1 {
                position: absolute;
                top: 25px;
            }
    
            .citation2 {
                position: absolute;
                right: 15px;
                bottom: 40px;
            }
    
            p {
                padding: 20px 0;
                padding-bottom: 33px;
            }
            
        }
    
        .kunde-box-wrapper {
            display: flex;
            gap: 20px;
        }
        
        @media only screen and (max-width: 1000px) {
            .kunde-box-wrapper {
                flex-direction: column;
            }
        
            .kunde-box {
                width: 70vw;
                min-height: auto;
            }
        
            .kunde-box-wrapper > :nth-child(3) {
                display: none;
            }
        }
    }


        /*Styling af team sektionen */

    .team-section{
        display: flex;

    
        .medlem-box {
            width: 33.3vw;
            position: relative;
            margin-bottom: -10px;

            > img {
                width: 100%;
                filter: brightness(50%);
            }

            .medlem-ramme {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);

                > img {
                    width: 300px;
                }
            }

            .medlem-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 24px;
                text-align: center;
                color: white;
            }
        }
    }

    @media only screen and (max-width: 1315px) {
        .team-section {
            .medlem-box {
                .medlem-ramme {
                    top: 70%;
                    img {
                        width: 200px;
                    }
                }
                .medlem-text {
                    font-size: 18px;
                    white-space: nowrap;
                }
            }
        }
    }
    
    @media only screen and (max-width: 850px) {
        .team-section {
            flex-direction: column;
            .medlem-box {
                width: 100vw;
                max-height: 700px;
                .medlem-ramme {
                    top: 80%;
                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 550px) {
        .team-section {
            .medlem-box {
                .medlem-ramme {
                    top: 70%;
                    img {
                        width: 250px;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 400px) {
        .team-section {
            .medlem-box {
                .medlem-ramme {
                    top: 70%;
                    img {
                        width: 200px;
                    }
                }
            }
        }
    }    

        /*Styling af cases sektionen */
        .cases-section {
            padding: 35px 0;
            background: $gul;
            @include flex-center;
            flex-direction: column;
            position: relative;
        
            .cases-wrapper {
                @include flex-center;
                gap: 50px;
                padding: 50px 0 30px;
        
                .cases-container {
                    width: 25vw;
                    position: relative;
        
                    img {
                        width: 100%;
                    }

                    .cases-logo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 50%;
                    }
                }
            }
        
            
            .malerklat-cases-venstre {
                position: absolute;
                left: 0;
                top: 0;
            }

            .malerklat-cases-hojre {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        

        @media only screen and (max-width: 1150px) {
            .cases-section {
                .cases-wrapper {
                    flex-direction: column;
                    gap: 0;

                    .cases-container {
                        width: 50vw;
                    }
                }

                .malerklat-cases-venstre img, .malerklat-cases-hojre img{
                    height: 200px;
                }
            }
        }

        @media only screen and (max-width: 550px) {
            .cases-section {
                .cases-wrapper {
                    .cases-container {
                        width: 70vw;
                    }
                }

                .malerklat-cases-venstre img, .malerklat-cases-hojre img{
                    height: 100px;
                }
            }
        }

        /*Styling af kontakt sektionen */
        .contact-section {
            background: $graa;
            padding: 50px 0;
            display: flex;  
            justify-content: center;      
            color: white;
            gap: 200px;
        
            .contact-content {
                width: 35vw;
        
                p {
                    width: 90%;
                }
            }
        
            h3 {
                font-weight: 300;
            }
        
            .contact-form {
                form {
                    input, textarea {
                        width: 100%;
                        padding: 10px 0 10px 10px;
                        margin-bottom: 20px;
                        background: transparent;
                        border: 1px solid $gul;
                        border-radius: 2px;
                        color: white;
        
                        &::placeholder {
                            color: rgb(204, 204, 204);
                            font-family: $poppins;
                        }
                    }
                }
            }

            
        }
        

        @media only screen and (max-width: 1000px) {
            .contact-section {
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .contact-content {
                    width: 80vw;

                    p {
                        width: 100%;
                    }
                }

                .contact-form {
                    width: 80vw;
                }
            }

        }




       

/* Mobile navigation */
    .hamburger-menu {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
        cursor: pointer;
        background-color: $gul; 
        border-radius: 50%; 
        padding: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        &::before {
            content: ''; 
            position: absolute;
            top: -10px;
            left: -10px;
            width: 40px;
            height: 40px;
            background-color: $gul;
            border-radius: 50%; 
            z-index: -1; 
        }

        span {
            display: block;
            width: 30px; 
            height: 3px; 
            background-color: $sort;
            margin: 6px auto; 
            transition: transform 0.3s ease;
        }
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + .hamburger-menu span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px); 
    }

    .mobile-navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 85vw;
        height: 100%;
        background-color: $gul;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 999;
        padding-top: 120px;

        .nav-links {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-bottom: 30px;

            li {
                padding: 20px;
                text-align: center;
                font-size: 24px;
                font-weight: 600;

                a {
                    text-decoration: none;
                    color: $sort;
                }
            }
        }
    }

    #menu-toggle {
        display: none;
    }
    

    #menu-toggle:checked ~ .mobile-navbar {
        transform: translateX(0);


    }

    #menu-toggle:checked ~ .content {
        transform: translateX(85vw);
    }

    #menu-toggle:checked {
        overflow: hidden;
    }

    hr {
        width: 80%;
        border: solid #000000 1px;
    }

    .social-nav {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding-top: 40px;

        img {
            width: 50px;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75); 
        z-index: 998;
        pointer-events: none;
        overflow-y: auto; 
        display: none;
    }
    
    #menu-toggle:checked ~ .overlay {
        display: block; 
        pointer-events: auto;
    }


@media only screen and (min-width: 1030px)  {
    .hamburger-menu {
        display: none;
    }

    .mobile-navbar {
        display: none;
    }
}


/* Undersidernes headline section*/
.headline-section {
    background: $sort;
    @include flex-center;
    padding: 130px 0 50px 0;
    position: relative;

    .headline-container {
        width: 45%;
        padding: 100px;
        background-image: url(img/svg/Overskrift-baggrund.svg);
        background-size: contain; 
        background-repeat: no-repeat; 
        background-position: center;
        @include flex-center;
        flex-direction: column;

        h1 {
            -webkit-text-stroke: 3px $sort;
        }
    }

    .breadcrumb {
        list-style: none;
        padding: 0;
        position: absolute;
        left: 10px;
        bottom: 0;
      }
      
      .breadcrumb li {
        display: inline;
        font-size: 14px;
      }
      
      .breadcrumb li+li:before {
        color: rgb(203, 203, 203);
        content: "/\00a0";
      }
      
      .breadcrumb li a {
        color: rgb(203, 203, 203);
        text-decoration: none;
        font-size: 12px;
        text-decoration: none;
      }
      
      .breadcrumb li a:hover {
        color: $gul;
      }
}

@media only screen and (max-width: 630px)  {
    .headline-section {
        .headline-container {
            width: 90vw;
            padding: 20px;            
        }

        .breadcrumb {
            display: none;
        }
        }
}

@media only screen and (max-width: 433px)  {
    .headline-section {
        .headline-container {
            h4 {
                display: none;
            }
        }
    }

}


/* Gul sektion */
.gul-section {
    padding: 35px 0;
    @include flex-center;
    flex-direction: column;
    background: $gul;

    h1 {
        white-space: normal;
    }

    h2 {
        color: $graa;
    }
  
    .container {
        display: flex;
    }

    .tab-box {
        width: 250px;
        height: 350px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        svg {
            width: 130px;
            height: 130px;
        }

        &.active {
            background: $graa;

            h2 {
                color: $gul;
            }

            svg {
                filter: invert(88%) sepia(29%) saturate(1398%) hue-rotate(353deg) brightness(104%) contrast(110%);
            }
        }
    }

    .tab-content {
        display: none;

        &.active {
            display: block;
        }
    }

    .maling-adskiller {
        width: 85vw;
        padding: 35px 0;

        img {
            width: 100%;
        }
    }
    
}

#tekst-sektion {
    padding-left: 8%;
    padding-right: 8%;
}


/* Gul sektion -> indhold */
.box-content-container {
    display: flex;
    gap: 100px;
    padding: 50px 0;
    line-height: 28px;

    .box-img-content {
        width: 35vw;
        @include flex-center;

        > img {
            width: 65%;
            min-width: 360px;
        }
    }

    .box-text-content{
        width: 35vw;
    }

}

/*Mobil styling af gul tab funktion */
@media only screen and (max-width: 1030px)  {
    .gul-section{
        .tab-box {
            width: 310px;
            height: 75px;

            svg {
                transform: scale(0.2);
            }
        }

        .container {
            flex-direction: column;
        }

        .box-content-container {
            flex-direction: column;
            gap: 0;

            > div {
                width: 80vw;
            }
        }

        #reverse-box, #reverse-box2 {
            flex-direction: column-reverse;
        }

    }
}

@media only screen and (max-width: 650px)  {
    .gul-section {
        padding-top: 25px
    }
}



/*Styling af om-os*/
.omos-wrapper {
    @include flex-center;
    gap: 50px;

    .omos-box {
        @include flex-center;
        flex-direction: column;
        width: 500px;
        height: 535px;
        position: relative;

        h2 {
            font-size: 34px;
            margin-top: 0;
        }

        #symbol {
            width: 100px;
            padding-top: 10px;
        }

        #symbol2 {
            width: 150px;
            padding-top: 10px;
        }

        .adskiller-top {
            width: 100%;
            position: absolute;
            top: 0;
        }

        
        .adskiller-bund {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        p {
            width: 95%;
            text-align: center;
            line-height: 28px;
            margin: 0;
            padding-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 1060px)  {
    .omos-wrapper {
        flex-direction: column;
        gap: 0;

        .omos-box {
            width: 90vw;
            height: auto;

            #symbol, #symbol2 {
                padding-top: 40px;
            }

           #symbol2 {
                padding-top: 30px;
            }


            p {
                padding-bottom: 40px;
            }


            #bund-adskilleren {
                display: none;
            }
        }
    }

}

@media only screen and (min-width: 730px) and (max-width: 850px) {
    .omos-wrapper {
        padding-top: 110px;
    }
}


/* cases styling */ 
.case-section {
    .case-wrapper {
        .case-raekke {
            display: flex;
            margin: 0;
            
            .case-par {
                display: flex;
                
                .case-item {
                    position: relative;
                    height: 50vh;
                    width: 25vw;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.7);
                        color: white; 
                        @include flex-center;
                        flex-direction: column;
                        opacity: 0; 
                        transition: opacity 0.3s;
                        font-size: 20px;
                        overflow-y: none;

                        img {
                            height: 30%;
                            width: auto;
                            max-width: 50%;
                            object-fit: fill;
                        }
                        
                        ul {
                            padding: 0; 
                        }
                    }
                    
                    &:hover {
                        .overlay {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .samarbejde-text {
        width: 200px;
    }

    
    
    @media only screen and (max-width: 1080px) {
        .case-wrapper {
            .case-raekke {
                flex-direction: column;
                
                .case-par {
                    .case-item {
                        width: 50vw;
                    }
                }
            }
        }
    }
    
    @media only screen and (max-width: 400px) {
        .case-wrapper {
            .case-raekke {
                .case-par {
                    .case-item {
                        height: 35vh;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    .case-section {
    .case-wrapper {
        .case-raekke {
            .case-par {
                flex-direction: column;
                .case-item {
                  width: 100vw;
                }
            }
        }
    }
}
}

/* Kontakt side */
#adskiller-kontakt {
    width: 80vw;
    padding: 10px;
}
.kontakt-wrapper {
    display:  flex;
    justify-content: center;
    gap: 5vw;
    padding-top: 30px;


    > div {
        width: 30vw;

        > div {
            display: flex;
            gap: 6px;
            padding-top: 8px;
        }
        .submit-button {
        background-image: url('img/svg/sort-knap-lille.svg');

            span {
                color: $gul;
            }
        }
        
        input, textarea {
            width: 100%;
            padding: 10px 0px 10px 10px;
            margin-bottom: 10px;
            background: transparent;
            border: 1px solid $sort;
            font-family: $poppins;

            &::placeholder {
                color: $graa;
            }
        }

        p {
            margin: 0;
        }
    }
}


@media only screen and (max-width: 960px) {
        .kontakt-wrapper {
            flex-direction: column;
            gap: 30px;

            > div {
                width: 78vw;
            }
        }

}

@media only screen and (max-width: 815px) {
    #adskiller-kontakt {
        width: 90vw;
    }
}


/* Job og karriere side */
.gul-section {
    .job-wrapper {
        width: 78vw;
        padding-bottom: 75px;

        h3 {
            margin-bottom: 0;
            font-size: 20px;
            padding-bottom: 6px;
        }

        p {
            margin: 0;
            line-height: 28px;
        }
    }

    .kultur-container {
        display: flex;
        gap: 4vw;

        > div {
            width: 37vw;

            >img {
                width: 100%;
            }

            > p {
                padding-bottom: 30px;

            }
        }

        .img-job-container {
            @include flex-center;
        }

    }

    .stilling-box {
        position: relative;
        width: 300px;

        img {
            width: 300px;
        }

        .stilling-content {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 30px;
            display: flex;
            flex-direction: column;

            .custom-button {
                width: 140px;
                height: 50px;
                font-family: $poppins;
                left: 50px;

                span {
                    color: $gul;
                    font-weight: 600;
                    font-size: 14px;
                }
            }

            h5 {
                margin: 0;
                font-size: 16px;
            }

            p {
                font-size: 18px;
                padding-bottom: 8px;
            }

            
        }
    }
    .job-container {
        padding-top: 20px;
        @include flex-center;
        gap: 30px;
    }
    
}

@media only screen and (max-width: 1150px) {
    .gul-section {
            .kultur-container {
                flex-direction: column;
                gap: 0;
                
                > div {
                    width: 78vw;
                    
                    > img {
                        padding-bottom: 50px;
                        margin-top: -50px;
                    }
                }
            }
    }
}


@media only screen and (max-width: 810px) {
    .gul-section {
        .job-wrapper {
            width: 88vw;
        }

        .kultur-container {        
            > div {
                width: 88vw;
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .gul-section {
        .job-container {
            flex-direction: column;
        }
    }
}

/*tilgang side */
.gul-section {
    .svg-wrapper {
        padding-top: 30px;

        .svg-par {
            display: flex;
            gap: 50px;

            .svg-container {
                position: relative;
                width: 250px;
                height: 250px;

                .svg-ramme {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                .svg-content {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    .titel {
                        margin-bottom: 10px;
                        margin-top: 0;
                    }

                    .ikon {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 590px) {
    .gul-section {
        .svg-wrapper {
            .svg-par {
                flex-direction: column;
                gap: 0;
            }
        }
    }
}

.magi-section {
    background: $graa;
    padding: 35px 0;
    @include flex-center;
    flex-direction: column;

    h1 {
        color: white;
    }

    .highlight1 {
        color: $gul;
    }

    img {
        width: 100px;
        padding-top: 30px;
    }

    .tekst-container-roteret {
        display: flex;
        gap: 30vw;
        padding: 0 30px 90px 30px;
    }

    .venstre-tekst, .hojre-tekst {
        font-family: $overskrift;
        font-size: 20px;
    }

    .venstre-tekst {
        color: white;
        transform: rotate(-15deg);
    }

    .hojre-tekst {
        color: $gul;
        transform: rotate(15deg);
    }

    .standard-tekst {
        padding: 0 30px;
    }

    p {
        color: white;
        font-size: 18px;
    }

    .gul-tekst {
        color: $gul;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .magi-section {
        .tekst-container-roteret {
            gap: 50px;
            padding-bottom: 30px;
        }
    }
}


#innovation-section {
    background: $sort;
    .tekst-container-roteret {
        .venstre-tekst, .hojre-tekst {
            transform: rotate(15deg);
        }

        .venstre-tekst {
            color: $gul;
        }

        .hojre-tekst {
            color: white;
            transform: rotate(-15deg);
        }
    }
}

#visuel-section {
    background: $gul;

    h1, p {
        color: $sort;
    }

    .venstre-tekst, .hojre-tekst {
        transform: rotate(-15deg);
    }
}

#kreativ-section {
    .venstre-tekst, .hojre-tekst {
        transform: rotate(15deg);
    }
}


 /*Styling af footer sektionen */
 footer {
    background: $sort;
    position: relative;
    padding-top: 50px;

    .bar-wrapper {
        @include flex-center;
        gap: 18vw;
        color: white;

        ul {
            padding: 0;

            li {
                list-style-type: none;
                line-height: 40px;

                a {
                    text-decoration: none;
                    color: white;
                    transition: color 0.2s ease-in;

                    &:hover {
                        color: $gul;
                    }
                }
            }
        }
    }

    .social-icons {
        @include flex-center;
        gap: 35px;
        padding: 110px;

        img {
            height: 60px;
        }
    }

    .copyright-line {
        color: white;
        font-size: 13px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 8px;
    }

    .malerklat-footer-venstre {
        position: absolute;
        left: 0;
        bottom: 0px;

        img {
            margin-bottom: -7px;
        }
    }

    .malerklat-footer-hojre {
        position: absolute;
        right: 0;
        bottom: 0px;

        img {
            margin-bottom: -7px;
        }
    }
    
    @media only screen and (max-width: 1300px) {
        .malerklat-footer-venstre img,
        .malerklat-footer-hojre img {
            width: 200px;
        }
    }

    @media only screen and (max-width: 795px) {
        .malerklat-footer-venstre img,
        .malerklat-footer-hojre img {
            width: 100px;
        }

        .bar-wrapper {
            flex-direction: column;
            gap: 0px;
            text-align: center;
        }

        .copyright-line {
            font-size: 10px;
            padding-bottom: 50px;
            white-space: nowrap;
        }
    }
}