/* Farve variabler */
/* Font variabler */
/*Poisition variabler */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*Global text styling */
h1 {
  font-family: Stick, sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  text-align: center;
  z-index: 2;
}

h2 {
  font-family: Stick, sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: 200;
  color: #FCEC00;
}

h3 {
  font-size: 26px;
}

/*Header styling*/
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  background: #080808;
  position: relative;
}
header ul {
  display: flex;
  padding: 0 50px;
  gap: 70px;
}
header ul li {
  list-style: none;
  position: relative;
}
header ul li a {
  text-decoration: none;
  color: #FCEC00;
  font-weight: 600;
  font-size: 22px;
}
header ul li .svg-klat {
  position: absolute;
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 40px;
  height: 40px;
}
header ul li:hover .svg-klat {
  opacity: 1;
}
header .header-logo {
  position: absolute;
  left: 30px;
  z-index: 10;
  top: 20px;
}

/*Hero styling */
.hero-section {
  background-color: #080808;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 100px;
  padding: 200px 0 200px 0;
  margin-bottom: -2px;
}
.hero-section .hero-vector {
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 600px;
  position: relative;
}
.hero-section .hero-vector img {
  height: 550px;
  right: 10vw;
  position: absolute;
  bottom: -200px;
  right: 0;
}
.hero-section .hero-content {
  width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  /* Styling af knappen */
}
.hero-section .hero-content h1 {
  color: white;
  text-align: left;
  font-size: 50px;
}
.hero-section .hero-content button {
  background-color: transparent;
  border: none;
  height: 80px;
  width: 340px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
  padding-bottom: 7px;
}
.hero-section .hero-content button:hover {
  transform: scale(1.1);
}
.hero-section .hero-content button img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-section .hero-content button span {
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 3;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 16px;
}

/* Mobil hero section */
@media only screen and (max-width: 1325px) {
  .hero-section {
    flex-direction: column;
    padding-top: 150px;
    height: 700px;
  }
  .hero-section .hero-vector {
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 600px;
    position: relative;
  }
  .hero-section .hero-vector img {
    height: 550px;
    right: 10vw;
    position: absolute;
    bottom: -200px;
    right: 0;
  }
}
@media only screen and (max-width: 645px) {
  .hero-section {
    flex-direction: column;
    padding-top: 150px;
    height: 550px;
  }
  .hero-section .hero-vector {
    height: 300px;
  }
  .hero-section .hero-vector img {
    height: 400px;
    left: 50%;
    transform: translate(-50%);
  }
  .hero-section .hero-content {
    width: 400px;
  }
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 460px) {
  .hero-section {
    height: 450px;
  }
  .hero-section .hero-vector {
    height: 280px;
  }
  .hero-section .hero-vector img {
    height: 280px;
    left: 50%;
    transform: translate(-50%);
  }
  .hero-section .hero-content {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-section .hero-content h1 {
    font-size: 35px;
  }
}
/*Intro gul sektion*/
.intro-section {
  background: #FCEC00;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;
  padding: 50px 0;
}
.intro-section #malerklat {
  width: 300px;
  position: absolute;
  left: 20px;
  top: -130px;
  z-index: 0;
}
.intro-section .intro-venstre, .intro-section .intro-hojre {
  width: 40vw;
}
.intro-section .intro-venstre #infografik, .intro-section .intro-hojre #infografik {
  width: 100%;
}
.intro-section .intro-venstre h3, .intro-section .intro-hojre h3 {
  font-weight: 300;
}
.intro-section .intro-venstre ul, .intro-section .intro-hojre ul {
  list-style-type: none;
  padding-left: 0;
}
.intro-section .intro-venstre .liste-fordel, .intro-section .intro-hojre .liste-fordel {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.intro-section .intro-venstre .liste-fordel img, .intro-section .intro-hojre .liste-fordel img {
  width: 60px;
}

@media only screen and (max-width: 1000px) {
  .intro-section {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .intro-section .intro-venstre, .intro-section .intro-hojre {
    width: 90vw;
  }
}
/*Services section */
.services-section {
  background: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}
.services-section .services-wrapper {
  display: flex;
  gap: 20px;
  padding-top: 60px;
}
.services-section .services-wrapper .services-pair {
  display: flex;
  gap: 20px;
}
.services-section .services-wrapper .services-pair .services-box {
  height: 350px;
  width: 250px;
  border: solid 2px #FCEC00;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.services-section .services-wrapper .services-pair .services-box ul {
  margin: 0;
  padding: 15px 40px;
}
.services-section .services-wrapper .services-pair .services-box ul li {
  padding-bottom: 20px;
}
.services-section h1 {
  color: #FCEC00;
}

/* Mobil services box */
@media only screen and (max-width: 1100px) {
  .services-wrapper {
    flex-direction: column;
  }
  .services-wrapper .services-pair {
    margin: 0;
  }
  .services-wrapper .services-pair .services-box {
    margin: 0;
  }
}
@media only screen and (max-width: 560px) {
  .services-section {
    padding: 50px 0;
  }
  .services-section .services-pair {
    flex-direction: column;
  }
  .services-section .services-pair .services-box {
    width: 80vw;
  }
}
/*Feedback section */
.feedback-section {
  background: #080808;
  padding: 50px 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedback-section h1 {
  color: #FCEC00;
  padding-top: 20px;
}
.feedback-section .kunde-box {
  width: 28vw;
  border-radius: 50px;
  background: #FAFFC6;
  position: relative;
  margin-top: 150px;
  padding: 15px;
}
.feedback-section .kunde-box .kunde-trekant {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 60px solid #FAFFC6;
  position: absolute;
  bottom: -60px;
  transform: translate(-50%);
  left: 50%;
}
.feedback-section .kunde-box .gul-cirkel {
  background: #FCEC00;
  width: 120px;
  height: 120px;
  transform: translate(-50%);
  left: 50%;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -80px;
}
.feedback-section .kunde-box .gul-cirkel img {
  border-radius: 50%;
  width: 93%;
  height: 93%;
}
.feedback-section .kunde-box .kunde-navn {
  text-align: center;
  font-weight: 800;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: 20px;
  white-space: nowrap;
}
.feedback-section .kunde-box .kunde-vurdering {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: 0;
}
.feedback-section .kunde-box #citation1 {
  position: absolute;
  top: 25px;
}
.feedback-section .kunde-box #citation2 {
  position: absolute;
  right: 15px;
  bottom: 40px;
}
.feedback-section .kunde-box p {
  padding: 20px 0;
  padding-bottom: 33px;
}
.feedback-section .kunde-box-wrapper {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 1000px) {
  .feedback-section .kunde-box-wrapper {
    flex-direction: column;
  }
  .feedback-section .kunde-box {
    width: 70vw;
    min-height: auto;
  }
}

/*Styling af team sektionen */
.team-section {
  display: flex;
}
.team-section .medlem-box {
  width: 33.3vw;
  position: relative;
  margin-bottom: -10px;
}
.team-section .medlem-box > img {
  width: 100%;
  filter: brightness(50%);
}
.team-section .medlem-box .medlem-ramme {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-section .medlem-box .medlem-ramme > img {
  width: 300px;
}
.team-section .medlem-box .medlem-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1315px) {
  .team-section .medlem-box .medlem-ramme {
    top: 70%;
  }
  .team-section .medlem-box .medlem-ramme img {
    width: 200px;
  }
  .team-section .medlem-box .medlem-text {
    font-size: 18px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 850px) {
  .team-section {
    flex-direction: column;
  }
  .team-section .medlem-box {
    width: 100vw;
    max-height: 700px;
  }
  .team-section .medlem-box .medlem-ramme {
    top: 80%;
  }
  .team-section .medlem-box .medlem-ramme img {
    width: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .team-section .medlem-box .medlem-ramme {
    top: 70%;
  }
  .team-section .medlem-box .medlem-ramme img {
    width: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .team-section .medlem-box .medlem-ramme {
    top: 70%;
  }
  .team-section .medlem-box .medlem-ramme img {
    width: 200px;
  }
}
/*Styling af cases sektionen */
.cases-section {
  padding: 50px 0;
  background: #FCEC00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.cases-section .cases-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0 30px;
}
.cases-section .cases-wrapper .cases-container {
  width: 25vw;
  position: relative;
}
.cases-section .cases-wrapper .cases-container img {
  width: 100%;
}
.cases-section .cases-wrapper .cases-container #cases-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.cases-section button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 140px;
  position: relative;
  transition: transform 0.2s ease;
  background-image: url("img/svg/cases-knap.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
}
.cases-section button:hover {
  transform: scale(1.1);
}
.cases-section button span {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 16px;
  position: relative;
  z-index: 1;
}
.cases-section .malerklat-cases-venstre {
  position: absolute;
  left: 0;
  top: 0;
}
.cases-section .malerklat-cases-hojre {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 1150px) {
  .cases-section .cases-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .cases-section .cases-wrapper .cases-container {
    width: 50vw;
  }
  .cases-section .malerklat-cases-venstre img, .cases-section .malerklat-cases-hojre img {
    height: 200px;
  }
}
@media only screen and (max-width: 550px) {
  .cases-section .cases-wrapper .cases-container {
    width: 70vw;
  }
  .cases-section .malerklat-cases-venstre img, .cases-section .malerklat-cases-hojre img {
    height: 100px;
  }
}
/*Styling af kontakt sektionen */
.contact-section {
  background: #1C1C1C;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  color: white;
  gap: 200px;
}
.contact-section .contact-content {
  width: 35vw;
}
.contact-section .contact-content p {
  width: 90%;
}
.contact-section h3 {
  font-weight: 300;
}
.contact-section .contact-form form input, .contact-section .contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #FCEC00;
  border-radius: 2px;
}
.contact-section .contact-form form input::-moz-placeholder, .contact-section .contact-form form textarea::-moz-placeholder {
  color: rgb(204, 204, 204);
  font-family: "Poppins", sans-serif;
}
.contact-section .contact-form form input::placeholder, .contact-section .contact-form form textarea::placeholder {
  color: rgb(204, 204, 204);
  font-family: "Poppins", sans-serif;
}
.contact-section .contact-form form button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 70px;
  position: relative;
  transition: transform 0.2s ease;
  background-image: url("img/svg/gul-standard-knap.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 6px;
}
.contact-section .contact-form form button:hover {
  transform: scale(1.1);
}
.contact-section .contact-form form button span {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

/*Styling af footer sektionen */
footer {
  background: #080808;
  position: relative;
  padding-top: 50px;
}
footer .bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18vw;
  color: white;
}
footer .bar-wrapper ul {
  padding: 0;
}
footer .bar-wrapper ul li {
  list-style-type: none;
  line-height: 40px;
}
footer .bar-wrapper ul li a {
  text-decoration: none;
  color: white;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 110px;
}
footer .social-icons img {
  height: 60px;
}
footer .copyright-line {
  color: white;
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
}
footer .malerklat-footer-venstre {
  position: absolute;
  left: 0;
  bottom: 0px;
}
footer .malerklat-footer-hojre {
  position: absolute;
  right: 0;
  bottom: 0px;
}

@media only screen and (max-width: 1300px) {
  .malerklat-footer-venstre img, .malerklat-footer-hojre img {
    width: 200px;
  }
}
@media only screen and (max-width: 795px) {
  footer .bar-wrapper {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }
  footer .malerklat-footer-venstre img, footer .malerklat-footer-hojre img {
    width: 100px;
  }
  footer .copyright-line {
    font-size: 10px;
    padding-bottom: 50px;
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */