/* Global button styling */
.custom-button {
    background: transparent;
    display: inline-block;
    cursor: pointer;
    width: 300px;
    height: 140px;
    position: relative;
    transition: transform 0.2s ease; 
    background-image: url('img/svg/cases-knap.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 10px;
    text-align: center;
    @include flex-center;
    text-decoration: none;


    &:hover {
        transform: scale(1.1);
    }

    span {
        color: rgb(255, 255, 255);
        font-family: $poppins;
        font-weight: 800;
        font-size: 16px;
        position: relative;
        z-index: 1; 
        display: block; 
        padding: 10px;
    }
}


.submit-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 80px;
    position: relative;
    transition: transform 0.2s ease; 
    background-image: url('img/svg/gul-standard-knap.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 6px;
    text-decoration: none;

    &:hover {
        transform: scale(1.1);
    }

    span {
        color: rgb(0, 0, 0);
        font-family: $poppins;
        font-weight: 800;
        font-size: 16px;
        position: relative;
        z-index: 1; 
    }
}
